@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
#container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center;
    font-family: 'Comfortaa';
    font-size: 4vh;
    background-color: rgb(30, 30, 30);
    color: rgb(247,237,189);
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    min-height: 50px;
    background-color: rgb(60, 60, 60);
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

#blocksHeader{
    position: inherit;
    top: 0.5vh;
    left: 8.4vh;
    height: min-content;
    width: fit-content;
    max-width: 80%;
}

#pageBody{
    position: fixed;
    display: block;
    top: 9vh;
    left: 0;
    width: 100vw;
    height: 91vh;
}

.logo{
    position: inherit;
    left: 0.2vh;
    top: 0.5vh;
    height: 8vh;
    width: 8vh;
    border-radius: 100%;
    background-color: rgb(60, 60, 60);
    background-image: url("./logos/main_logo.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    transition: 0.4s;
}
.logo:hover{
    position: inherit;
    left: 0.2vh;
    top: 0.5vh;
    height: 8vh;
    width: 8vh;
    border-radius: 100%;
    background-color: rgb(30, 30, 30);
    background-image: url("./logos/main_logo.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    transition: 0.4s;
}

.inBlock{
    display: inline-flex;
    height: min-content;
    min-width: 50px;
    max-width: 30vw;
    overflow-wrap: break-word;
    border-radius: 1vh;
    padding: 1vh;
    margin: 1vh;
    transition: 0.5s;
    font-size: 4vh;
}
.inBlock:hover{
    display: inline-flex;
    height: min-content;
    min-width: 50px;
    max-width: 30vw;
    overflow-wrap: break-word;
    border-radius: 1vh;
    padding: 1vh;
    margin: 1vh;
    background-color: rgb(30, 30, 30);
    transition: 0.5s;
}

#person_info{
    position: fixed;
    top: 14vh;
    left: 12.5vw;
    height: 80vh;
    width: 75vw;
    background-color: rgb(30, 30, 30);
    border-radius: 3vh;
    display: none;
    z-index: 100;
    color: rgb(247,237,189);
    font-family: 'Comfortaa';
    font-size: 4vh;
}

#cross_info{
    position: absolute;
    top: 1vh;
    right: 2vh;
    width: 5.7vh;
    height: 4vh;
    border-radius: 5vh;
    background-color: rgb(30, 30, 30);
    padding-top: 0.7vh;
    padding-bottom: 1vh;
    text-align: center;
    transition: 0.5s;
}
#cross_info:hover{
    background-color: rgb(60, 60, 60);
    transition: 0.5s;
}
.rounded_info{
    border-radius: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
#prof_photo_info{
    position: absolute;
    left: 2vw;
    top: 8vh;
    width: 15vw;
    height: 15vw;
    background-color: rgb(60, 60, 60);
    border-radius: 100vw;
    background-image: url("");
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    background-position: center;
    background-size: cover;
}
#naming_info{
    position: absolute;
    left: 20vw;
    top: 3vh;
    width: 50vw;
    height: 6vh;
    padding-top: 2vh;
}
#email_info{
    position: absolute;
    left: 20vw;
    top: 13vh;
    width: 50vw;
    height: 6vh;
    background-color: rgb(60, 60, 60);
    padding-top: 2vh;
}
#phoneNumber_info{
    position: absolute;
    left: 20vw;
    top: 23vh;
    width: 50vw;
    height: 6vh;
    background-color: rgb(60, 60, 60);
    padding-top: 2vh;
}
#departament_info{
    position: absolute;
    left: 20vw;
    top: 33vh;
    width: 50vw;
    height: 6vh;
    background-color: rgb(60, 60, 60);
    padding-top: 2vh;
}
#roles_info{
    position: absolute;
    left: 2vw;
    top: 43vh;
    width: 68vw;
    height: 14vh;
    background-color: rgb(60, 60, 60);
    padding-top: 2vh;
    overflow-y: scroll;
}
#roles_info::-webkit-scrollbar{
    display: none;
}
#interests_info{
    position: absolute;
    left: 2vw;
    top: 61vh;
    width: 58vw;
    height: 14vh;
    background-color: rgb(60, 60, 60);
    padding-top: 2vh;
    overflow-y: scroll;
}
#interests_info::-webkit-scrollbar{
    display: none;
}

#goRocket_info{
    position: absolute;
    bottom: 3vh;
    left: 63vw;
    width: 9vw;
    height: 9vw;
    border-radius: 20vh;
    background-color: rgb(30, 30, 30);
    text-align: center;
    transition: 0.5s;
    background-image: url("./logos/rocketChat_logo.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(60, 60, 60);
}
#goRocket_info:hover{
    background-color: rgb(60, 60, 60);
    transition: 0.2s;
}
#goRocket_info:active{
    background-color: rgb(30, 30, 30);
    transition: 0.05s;
}

.unselectable{
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}