@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

.container{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center;
    font-family: 'Comfortaa';
    font-size: 4vh;
}

.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    min-height: 50px;
    background-color: rgb(238, 122, 174);
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: azure;
}

#blocksHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
  input, button {
    border: none;
    outline: none;
    border-radius: 3px;
  }
  input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
  }
  button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 2px;
    background: #F15B42;
    cursor: pointer;
  }
  button:before {
    content: "\003E";
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
  }